<mat-toolbar class="mat-tool">
  <button
    class="btn-dialog-close"
    style="border: none"
    mat-stroked-button
    (click)="close()"
    tabIndex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="newUserForm" class="normal-form" (submit)="onSubmit()">
  <h2>User Details</h2>

  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <div class="control-container">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="Name" matInput placeholder="Name" />
          <mat-error *ngIf="newUserForm.controls['Name'].hasError('required')"
            >This field is mandatory.</mat-error
          >
        </mat-form-field>
        <div class="control-container">
          <mat-form-field appearance="outline">
            <mat-label>User</mat-label>
            <input formControlName="User" matInput placeholder="User" />
            <mat-error *ngIf="newUserForm.controls['User'].hasError('required')"
              >This field is mandatory.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="control-container">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              type="password"
              formControlName="Password"
              matInput
              placeholder="Password"
            />
            <mat-error
              *ngIf="newUserForm.controls['Password'].hasError('required')"
              >This field is mandatory.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="control-container">
          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input
              formControlName="Cpf"
              matInput
              placeholder="CPF"
              appMask="cpf"
            />
            <mat-error *ngIf="newUserForm.controls['Cpf'].hasError('required')"
              >This field is mandatory.</mat-error
            >
            <mat-error *ngIf="newUserForm.controls['Cpf'].hasError('minlength')"
              >Minimum 15 charactors needed.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="control-container">
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input
            formControlName="Phone"
            matInput
            placeholder="Phone"
            appMask="phone"
          />
          <mat-error *ngIf="newUserForm.controls['Phone'].hasError('required')"
            >This field is mandatory.</mat-error
          >
          <mat-error *ngIf="newUserForm.controls['Phone'].hasError('minlength')"
            >Minimum 11 charactors needed.</mat-error
          >
        </mat-form-field>
        <div class="control-container">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="Email" matInput placeholder="Email" />
            <mat-error>Invalid email address.</mat-error>
          </mat-form-field>
        </div>
        <div class="button-row" style="margin-top: 2rem">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="newUserForm.invalid"
            style="margin-right: 1rem; width: 80px"
          >
            Submit
          </button>
          <button
            style="width: 80px"
            mat-flat-button
            color="warn"
            type="button"
            (click)="onClear()"
          >
            Clear
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
