/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 0.25rem 0.5rem #e6edef;
}
.card-head {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #edf1f7;
  font-size: 1rem;
  font-weight: 600;
}

.card-body {
  padding: 1rem 1.5rem;
}

.login {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-typography {
  width: 100% !important;
  height: 100% !important;
  background-color: #233238;
}
.login .mat-form-field-flex {
  width: 350px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.table .paginator .ngx-pagination .current {
  background-color: #233238;
  text-decoration: none;
}
.table .paginator .ngx-pagination a,
.ngx-pagination button {
  text-decoration: none;
}
