.card-login {
  width: 500px;
  text-align: center;
  border-radius: 8px;
}
.title {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2rem;
}
.btn-login {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  width: 150px;
  letter-spacing: 3px;
  color: #fff;
  background-color: #233238;
}
