.card-logout {
  width: 400px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.btn-logout {
  width: 90px;
  height: 36px;
  background-color: red;
  color: #fff;
  text-transform: uppercase;
}
.btn-yes {
  background-color: green !important;
  width: 50px !important;
}
